# Load libraries and data

In [1]:
import os
import sys
import hydra
from hydra.core.hydra_config import HydraConfig
from omegaconf import DictConfig, OmegaConf
from tqdm import tqdm
import pandas as pd
import numpy as np
import random
import submitit
import time
from tqdm import tqdm

# use datatime for dates outside of the pd.datetime bounds
from datetime import datetime

In [2]:
ids = [
    6337610,
    6502171,
    6335046,
    6338200,
    6338160,
    6123710,
    6503851,
    6229100,
    6335351,
    6123350,
    6139682,
    6503280,
    6503500,
    6731600,
    6338120,
    6934571,
    6338161,
    6503855,
    6335160,
    6139790,
    6502151,
    6233350,
    6233100,
    6321100,
    6342521,
    6604220,
    6243400,
    6338150,
    6503281,
    6337504,
    6335045,
    6503201,
    6335081,
    6119200,
    6854590,
    6337050,
    6503180,
    6123160,
    6503351,
    6335360,
    6503301,
    6855409,
    6136200,
    6503300,
    6233520,
  ]
len(ids)

45

In [3]:
# get the basin information as provided by the grdc
grdc_info = pd.read_excel('/data/compoundx/GRDC_runoff/GRDC_Stations.xlsx')
grdc_info = grdc_info.rename(columns={"grdc_no": "id"})
grdc_info = grdc_info.set_index("id")

In [4]:
grdc_info

,wmo_reg,sub_reg,river,station,country,lat,long,area,altitude,d_start,...,m_start,m_end,m_yrs,m_miss,t_start,t_end,t_yrs,lta_discharge,r_volume_yr,r_height_yr
id,,,,,,,,,,,,,,,,,,,,,
1104150,1,1041,"CHELIF, OUED",SIDI BELATAR,DZ,36.020000,0.270000,43750.0,2.0,1978.0,...,1976.0,1977.0,2.0,0.0,1976,2001,26,15.027,0.473891,10.831805
1104200,1,1041,"MINA, OUED",OUED EL-ABTAL,DZ,35.500000,0.680000,6635.0,205.0,NaN,...,1976.0,1978.0,3.0,0.0,1976,1978,3,2.578,0.0813,12.253174
1104300,1,1041,"GHIOU, OUED",AMMI MOUSSA,DZ,35.870000,1.120000,2398.0,140.0,NaN,...,1976.0,1979.0,4.0,0.0,1976,1979,4,3.195,0.100758,42.017314
1104450,1,1040,"MAZAFRAN, OUED",FER A CHEVAL,DZ,36.670000,2.820000,1912.0,10.0,1979.0,...,1976.0,1978.0,3.0,0.0,1976,1995,20,3.379,0.10656,55.732293
1104480,1,1040,"BOU DOUAOU, OUED",KEDDARA,DZ,36.650000,3.420000,829.0,60.0,NaN,...,1976.0,1979.0,4.0,0.0,1976,1979,4,0.354,0.011164,13.466519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6987100,6,6870,SHAKHE,SOLOKHAUL,RU,43.799444,39.678056,423.0,133.0,1978.0,...,1978.0,1987.0,10.0,0.0,1978,1987,10,29.333,0.925045,2186.868766
6987150,6,6870,SOCHI,PLASTUNKA,RU,43.680556,39.822222,238.0,-999.0,1978.0,...,1978.0,1987.0,10.0,0.0,1978,1987,10,15.585,0.491489,2065.077983
6998200,6,6984,KANGERLUARSUNNGUUP KUUA,KOBBEFJORD HYDROMETRIC STATION,DK,64.133110,-51.380780,31.0,22.0,2006.0,...,NaN,NaN,NaN,NaN,2006,2020,15,1.219,0.038442,1240.076903
6998300,6,6984,KUUSSUAQ,QEQERTARSUAQ,DK,69.253620,-53.498230,100.0,7.0,2015.0,...,NaN,NaN,NaN,NaN,2015,2018,4,n.a.,n.a.,n.a.
6998400,6,6982,ZACKENBERG BAY TRIBUTARY,ZACKENBERG HYDROMETRIC STATION,DK,74.470700,-20.576750,514.0,14.0,1996.0,...,NaN,NaN,NaN,NaN,1996,2020,25,5.971,0.188301,366.345245

In [5]:
# read the data
data_base_path = '/data/compoundx/causal_flood/stability_testing/data/'
all_peaks = {}
all_data = {}
for dataset_context in tqdm(['observed','simulated','resampled']):
    data_path = os.path.join(data_base_path,dataset_context)
    all_peaks[dataset_context] = {}
    all_data[dataset_context] = {}
    for id in tqdm(ids):
        peak_indices = []
        with open(os.path.join(data_path, f'{id}_peak_indices_USWRC.txt'), 'r') as filehandle:
            peak_indices = [current_place.rstrip() for current_place in filehandle.readlines()]
        all_peaks[dataset_context][id] = [int(p)for p in peak_indices]
        data = pd.read_csv(os.path.join(data_path, f'{id}.csv'))
        data['time'] = data['time'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
        all_data[dataset_context][id] = data

100%|██████████| 45/45 [00:11<00:00,  4.07it/s]
100%|██████████| 45/45 [00:11<00:00,  3.94it/s]
100%|██████████| 45/45 [01:34<00:00,  2.10s/it]
100%|██████████| 3/3 [01:56<00:00, 38.98s/it]

# Analysis

In [34]:
all_data['simulated'][6337610]

            time      tavg       pre       snow        SM          Q  year
0     1950-01-01 -3.805588  0.000000  15.000000  0.362190  16.199885  1950
1     1950-01-02 -1.557454  8.462839  19.058369  0.362170  22.295450  1950
2     1950-01-03  1.283638  4.136272  23.273736  0.365218  21.474517  1950
3     1950-01-04 -0.731928  2.827923  24.611291  0.368517  20.487493  1950
4     1950-01-05  0.462693  4.840284  27.492663  0.369857  19.729577  1950
...          ...       ...       ...        ...       ...        ...   ...
26293 2021-12-27  0.470614  1.009686   9.176982  0.976315   9.919044  2021
26294 2021-12-28  3.244654  9.231579   5.913654  0.979230  13.259252  2021
26295 2021-12-29  5.516405  5.927967   2.829954  0.982039  20.973894  2021
26296 2021-12-30  9.398890  3.573850   0.474050  0.983295  28.235926  2021
26297 2021-12-31  9.752498  0.000000   0.000132  0.983565  30.140924  2021

[26298 rows x 7 columns]

## Metrics

In [30]:
def number_of_peaks(peaks:list):
    """
    Returns the number peaks.
    """
    return len(peaks)

def count_non_nan_q(df):
    """
    Returns the number of data points where Q is not NaN.
    """
    return df['Q'].notna().sum()

def first_date_with_data(df):
    """
    Returns the first date where Q is not NaN.
    """
    return df.loc[df['Q'].notna(), 'time'].min()

def last_date_with_data(df):
    """
    Returns the last date where Q is not NaN.
    """
    return df.loc[df['Q'].notna(), 'time'].max()

def mean_non_nan_q(df):
    """
    Returns the mean of non-NaN values in the Q column.
    """
    return df['Q'].mean()

def std_dev_non_nan_q(df):
    """
    Returns the standard deviation of non-NaN values in the Q column.
    """
    return df['Q'].std()

def calculate_nse(obs_df, sim_df):
    """
    Calculate the Nash-Sutcliffe Efficiency (NSE) between observed and simulated data.
    """
    # Merge the two DataFrames on the 'time' column
    merged_df = pd.merge(obs_df, sim_df, on='time', suffixes=('_obs', '_sim'))

    # Drop rows where either Q_obs or Q_sim is NaN
    merged_df = merged_df.dropna(subset=['Q_obs', 'Q_sim'])

    # Extract observed and simulated values
    Q_obs = merged_df['Q_obs']
    Q_sim = merged_df['Q_sim']

    # Calculate NSE
    numerator = np.sum((Q_obs - Q_sim) ** 2)
    denominator = np.sum((Q_obs - np.mean(Q_obs)) ** 2)
    nse = 1 - (numerator / denominator)

    return nse

def calculate_kge(obs_df, sim_df):
    """
    Calculate the Kling-Gupta Efficiency (KGE) between observed and simulated data.
    """
    # Merge the two DataFrames on the 'time' column
    merged_df = pd.merge(obs_df, sim_df, on='time', suffixes=('_obs', '_sim'))

    # Drop rows where either Q_obs or Q_sim is NaN
    merged_df = merged_df.dropna(subset=['Q_obs', 'Q_sim'])

    # Extract observed and simulated values
    Q_obs = merged_df['Q_obs']
    Q_sim = merged_df['Q_sim']

    # Calculate components of KGE
    r = np.corrcoef(Q_obs, Q_sim)[0, 1]  # Pearson correlation coefficient
    alpha = np.std(Q_sim) / np.std(Q_obs)  # Ratio of standard deviations
    beta = np.mean(Q_sim) / np.mean(Q_obs)  # Ratio of means

    # Calculate KGE
    kge = 1 - np.sqrt((r - 1) ** 2 + (alpha - 1) ** 2 + (beta - 1) ** 2)

    return kge

def mean_q_at_peaks(df, peak_indices):
    """
    Calculate the mean value of Q at the given peak indices.
    """
    # Extract Q values at the peak indices
    q_values_at_peaks = df.loc[peak_indices, 'Q']

    # Calculate the mean of the Q values at the peaks
    mean_q = q_values_at_peaks.mean()

    return mean_q

def mean_annual_sum_pre(df):
    """
    Calculate the annual sum of the 'pre' column.
    """
    # Extract the year directly from the datetime objects in the 'time' column
    df['year'] = df['time'].apply(lambda x: x.year)

    # Group by year and calculate the sum of 'pre'
    annual_sum = df.groupby('year')['pre'].sum()

    return annual_sum.mean()

def avg_pre_values_above_1(df):
    """
    Calculate the average number of values below 1 in the 'pre' column per year.
    """
    # Extract the year directly from the datetime objects in the 'time' column
    df['year'] = df['time'].apply(lambda x: x.year)

    # Count the number of values below 1 for each year
    values_below_1 = df[df['pre'] > 1].groupby('year').size()

    # Calculate the average number of values below 1 across all years
    avg_below_1 = values_below_1.mean()

    return avg_below_1

def mean_tavg(df):
    """
    Calculate the mean of the 'tavg' column.
    """
    return df['tavg'].mean()

def std_dev_tavg(df):
    """
    Calculate the standard deviation of the 'tavg' column.
    """
    return df['tavg'].std()


def mean_days_snow_not_zero(df):
    """
    Calculate the mean number of days per year where 'snow' is above 1.
    """
    # Extract the year directly from the datetime objects in the 'time' column
    df['year'] = df['time'].apply(lambda x: x.year)

    # Count the number of days per year where 'snow' is above 1
    days_snow_above_1 = df[df['snow'] > 0].groupby('year').size()

    # Calculate the mean number of days across all years
    mean_days = days_snow_above_1.mean()

    return mean_days

def mean_snow_not_zero(df):
    """
    Calculate the mean of the 'snow' column, excluding values that are 0.

    Parameters:
    - df: pandas DataFrame with a column 'snow'.

    Returns:
    - The mean of 'snow' when it is not 0.
    """
    # Filter out rows where 'snow' is 0 and calculate the mean
    mean_snow = df[df['snow'] > 0]['snow'].mean()

    return mean_snow

def mean_sm(df):
    """
    Calculate the mean of the 'SM' column.
    """
    return df['SM'].mean()

def std_dev_sm(df):
    """
    Calculate the standard deviation of the 'SM' column.
    """
    return df['SM'].std()

def cut_off_string(s):
    # Find the index of the first comma or parenthesis
    comma_index = s.find(',')
    paren_index = s.find('(')

    # Determine the earliest index to cut off
    if comma_index == -1 and paren_index == -1:
        return s  # No comma or parenthesis found, return the whole string
    elif comma_index == -1:
        return s[:paren_index]  # Only parenthesis found
    elif paren_index == -1:
        return s[:comma_index]  # Only comma found
    else:
        return s[:min(comma_index, paren_index)]  # Both found, take the earliest one

def all_basin_statistics(id, data_observed, data_simulated, data_resampled, peaks_observed, peaks_simulated, peaks_resampled, country = None, river = None, station = None, area = None):
    """
    Calculate all basin statistics for a basin
    """
    results = {}
    results[('Basin','id','$ $')] = id
    results[('Basin', 'county','$ $')] = country
    results[('Basin', 'river','$ $')] = cut_off_string(river)
    results[('Basin', 'station','$ $')] = cut_off_string(station)
    results[('Basin', 'area [$km^2$]','$ $')] = area


    results[('Observations', 'start', 'date')] = first_date_with_data(data_observed)
    results[('Observations', 'end','date')] = last_date_with_data(data_observed)
    results[('Observations', 'days','count')] = count_non_nan_q(data_observed)
    results[('Observations', 'peaks','count')] = number_of_peaks(peaks_observed)
    results[('Observations', 'discharge [$m^3$/s]', 'mean')] = mean_non_nan_q(data_observed)
    results[('Observations','discharge [$m^3$/s]', 'SD')] = std_dev_non_nan_q(data_observed)
    results[('Observations','discharge [$m^3$/s]', 'mean peak')] = mean_q_at_peaks(data_observed, peaks_observed)
    results[('Observations', 'precipitation [mm]', 'mas')] = mean_annual_sum_pre(data_observed) # mean annual sum
    results[('Observations', 'precipitation [mm]', 'mada1')] =  avg_pre_values_above_1(data_observed) # mean annual days above 1mm
    results[('Observations', 'temperature [°C]', 'mean')] = mean_tavg(data_observed)
    results[('Observations', 'temperature [°C]', 'SD')] = std_dev_tavg(data_observed)
    results[('Observations', 'snow [mm]', 'mada0')] = mean_days_snow_not_zero(data_observed) # mean annual days above 0
    # results[('Observations', 'snow [mm]', 'mean snow on days with snow')] = mean_snow_not_zero(data_observed)
    results[('Observations', 'soil moisture [\%]', 'mean')] = mean_sm(data_observed)
    results[('Observations', 'soil moisture [\%]', 'SD')] = std_dev_sm(data_observed)
    
    results[('Simulations', 'model performance', 'NSE')] = calculate_nse(data_observed, data_simulated)
    results[('Simulations', 'model performance', 'KGE')] = calculate_kge(data_observed, data_simulated)
    results[('Simulations', 'peaks','count')] = number_of_peaks(peaks_simulated)
    results[('Simulations', 'discharge [$m^3$/s]', 'mean')] = mean_non_nan_q(data_simulated)
    results[('Simulations','discharge [$m^3$/s]', 'SD')] = std_dev_non_nan_q(data_simulated)
    results[('Simulations','discharge [$m^3$/s]', 'mean peak')] = mean_q_at_peaks(data_simulated, peaks_simulated)
    results[('Simulations', 'precipitation [mm]', 'mas')] = mean_annual_sum_pre(data_simulated) # mean annual sum
    results[('Simulations', 'precipitation [mm]', 'mada1')] =  avg_pre_values_above_1(data_simulated) # mean annual days above 1mm
    results[('Simulations', 'temperature [°C]', 'mean')] = mean_tavg(data_simulated)
    results[('Simulations', 'temperature [°C]', 'SD')] = std_dev_tavg(data_simulated)
    results[('Simulations', 'snow [mm]', 'mada0')] = mean_days_snow_not_zero(data_simulated) # mean annual days above 0
    # results[('Simulations', 'snow [mm]', 'mean snow on days with snow')] = mean_snow_not_zero(data_simulated)
    results[('Simulations', 'soil moisture [\%]', 'mean')] = mean_sm(data_simulated)
    results[('Simulations', 'soil moisture [\%]', 'SD')] = std_dev_sm(data_simulated)

    results[('Resampled', 'peaks','count')] = number_of_peaks(peaks_resampled)
    results[('Resampled', 'discharge [$m^3$/s]', 'mean')] = mean_non_nan_q(data_resampled)
    results[('Resampled','discharge [$m^3$/s]', 'SD')] = std_dev_non_nan_q(data_resampled)
    results[('Resampled','discharge [$m^3$/s]', 'mean peak')] = mean_q_at_peaks(data_resampled, peaks_resampled)
    results[('Resampled', 'precipitation [mm]', 'mas')] = mean_annual_sum_pre(data_resampled) # mean annual sum
    results[('Resampled', 'precipitation [mm]', 'mada1')] =  avg_pre_values_above_1(data_resampled) # mean annual days above 1mm
    results[('Resampled', 'temperature [°C]', 'mean')] = mean_tavg(data_resampled)
    results[('Resampled', 'temperature [°C]', 'SD')] = std_dev_tavg(data_resampled)
    results[('Resampled', 'snow [mm]', 'mada0')] = mean_days_snow_not_zero(data_resampled) # mean annual days above 0
    # results[('Resampled', 'snow [mm]', 'mean snow on days with snow')] = mean_snow_not_zero(data_resampled)
    results[('Resampled', 'soil moisture [\%]', 'mean')] = mean_sm(data_resampled)
    results[('Resampled', 'soil moisture [\%]', 'SD')] = std_dev_sm(data_resampled)


    
    # results['Simulations peaks'] = number_of_peaks(peaks_simulated)
    # results['Simulations mean Q'] = mean_non_nan_q(data_simulated)
    # results['Simulations std. dev. Q'] = std_dev_non_nan_q(data_simulated)
    # results['Simulations mean peak Q'] = mean_q_at_peaks(data_simulated, peaks_simulated)
    

    # results['Resampled Peaks'] = number_of_peaks(peaks_resampled)


    # Convert the dictionary to a DataFrame with multi-level columns
    df = pd.DataFrame.from_dict({k: [v] for k, v in results.items()}, orient='columns')

    # Set the multi-level column headers
    df.columns = pd.MultiIndex.from_tuples(df.columns)

    return df

In [31]:
combined_results = pd.DataFrame()
statistics_results = []
for id in ids:
    statistics_results.append(all_basin_statistics(
        id = id,
        data_observed=all_data['observed'][id],
        data_simulated=all_data['simulated'][id],
        data_resampled=all_data['resampled'][id],
        peaks_observed=all_peaks['observed'][id],
        peaks_simulated=all_peaks['simulated'][id],
        peaks_resampled=all_peaks['resampled'][id],
        country = grdc_info['country'].loc[id],
        river = grdc_info['river'].loc[id],
        station = grdc_info['station'].loc[id],
        area = grdc_info['area'].loc[id],
        ))
    combined_results = pd.concat(statistics_results, axis=0).reset_index(drop=True)

In [32]:
combined_results

      Basin                                                              \
         id county           river                station area [$km^2$]
        $ $    $ $             $ $                    $ $           $ $
0   6337610     DE           WERRA              MEININGEN        1170.0
1   6502171     IE     BOYLE RIVER              TINACARRA         520.0
2   6335046     DE            SIEG                 EITORF        1472.0
3   6338200     DE          VECHTE             EMLICHHEIM        1687.0
4   6338160     DE            HASE                BOKELOH        2968.0
5   6123710     FR          ARROUX       RIGNY-SUR-ARROUX        2277.0
6   6503851     IE           BOYNE           SLANE CASTLE        2408.0
7   6229100     SE  ENNINGDALSELVA             VASSBOTTEN         624.1
8   6335351     DE            LAHN                MARBURG        1667.0
9   6123350     FR         SAULDRE        SELLES-SUR-CHER        2254.0
10  6139682     FR           OGNON                 PESMES        2038.0
11  6503280     IE            SUIR                CLONMEL        2143.9
12  6503500     IE      BLACKWATER              BALLYDUFF        2338.0
13  6731600     NO          VEFSNA              UNKERVATN         756.0
14  6338120     DE       EMS RIVER                 GREVEN        2842.0
15  6934571     DK            SUSA        HOLLOESE MOELLE         756.0
16  6338161     DE            HASE               HERZLAKE        2218.0
17  6503855     IE      BLACKWATER              LISCARTON         717.0
18  6335160     DE           NIDDA             ILBENSTADT        1072.0
19  6139790     FR            LOUE     CHAMPAGNE-SUR-LOUE        1380.0
20  6502151     IE            SUCK            DERRYCAHILL        1050.0
21  6233350     SE        ALSTERAN                GETEBRO        1332.7
22  6233100     SE          VISKAN                ASBRO 3        2160.2
23  6321100     DE           NIERS                   GOCH        1203.0
24  6342521     DE         ALTMUHL  BEILNGRIES ABOVE SULZ        2475.0
25  6604220     GB           LEVEN              LINNBRANE         784.3
26  6243400     AT   OTZTALER ACHE                 TUMPEN         785.5
27  6338150     DE       EMS RIVER                  EINEN        1499.0
28  6503281     IE            SUIR             CAHIR PARK        1602.0
29  6337504     DE            EDER         SCHMITTLOTHEIM        1202.0
30  6335045     DE            SIEG               MENDEN 1        2832.0
31  6503201     IE            ERNE              BELTURBET        1501.0
32  6335081     DE           LIPPE             KESSELER 3        2005.0
33  6119200     FR           LEYRE                 SALLES        1650.0
34  6854590     FI        OULUJOKI     LAKE LENTUA OUTLET        2045.0
35  6337050     DE           HUNTE            COLNRADE OP        1313.0
36  6503180     IE          FERGUS             BALLYCOREY         562.0
37  6123160     FR  SEVRE NANTAISE             TIFFAUGES          814.0
38  6503351     IE          BARROW              ROYAL OAK        2415.0
39  6335360     DE            DILL                 ASSLAR         692.2
40  6503301     IE            NORE           JOHNS BRIDGE        1605.0
41  6855409     FI          VUOKSI              HAAPAJOKI         596.0
42  6136200     FR   MOSELLE RIVER                 EPINAL        1220.0
43  6503300     IE            NORE             BROWNSBARN        2388.0
44  6233520     SE         TARNAAN                SOLBERG        1083.5

   Observations                                              ...  \
          start        end   days peaks discharge [$m^3$/s]  ...
           date       date  count count                mean  ...
0    1950-01-01 2019-08-31  25445   863           14.307174  ...
1    1957-10-24 2002-01-21  16000   281           11.637879  ...
2    1967-11-01 2018-10-31  18625   838           27.569198  ...
3    1950-01-01 2017-12-31  24837   955           17.897482  ...
4    1956-11-01 2018-01-31  22371   721           28.548358  ...
5    1967-11-01 2008-12-31  14139   546           28.067555  ...
6    1950-01-01 2004-12-31  20000   720           34.774994  ...
7    1950-01-01 2021-01-02  25573   279           11.415528  ...
8    1955-11-01 2019-12-31  23437   970           15.812543  ...
9    1965-01-01 2012-06-26  16872   579           14.606819  ...
10   1964-01-01 2012-06-03  17686   683           33.492635  ...
11   1953-11-09 2008-08-27  19814   820           48.770265  ...
12   1955-10-10 2008-09-19  18280   829           61.058693  ...
13   1950-01-01 1990-12-31  14975   162           18.304348  ...
14   1950-01-01 2017-11-01  24777  1093           26.938457  ...
15   1950-01-01 2017-12-31  24837   585            5.919086  ...
16   1950-01-01 2019-01-01  25203  1008           21.479980  ...
17   1952-12-01 2003-05-20  15180   518           14.128849  ...
18   1957-11-01 2017-12-31  21975   915            6.050839  ...
19   1963-01-01 2012-06-03  17963   802           51.907768  ...
20   1954-10-22 2010-07-14  19693   728           21.197320  ...
21   1950-01-01 2021-01-05  23025    71           10.034704  ...
22   1950-01-01 2021-02-20  25956   937           37.426666  ...
23   1950-11-01 2018-10-31  24837   576            7.746062  ...
24   1984-11-01 2019-12-31  12844   330           16.080360  ...
25   1963-07-01 2019-09-30  20504   696           45.615976  ...
26   1951-01-01 2017-12-31  24472   740           26.507431  ...
27   1953-11-01 2016-11-30  23041  1095           15.023125  ...
28   1953-11-08 2008-08-26  19843   821           31.641290  ...
29   1950-01-01 2018-12-31  25202   920           18.791757  ...
30   1964-10-26 2019-10-24  20087   878           51.179737  ...
31   1958-01-21 2008-12-06  17333   282           28.519898  ...
32   1950-01-01 2018-11-26  25165   792           23.676946  ...
33   1967-01-01 2012-06-24  16246   283           16.947950  ...
34   1950-01-01 2017-12-31  24837    55           26.401748  ...
35   1957-11-01 2015-12-31  21245   537           10.085961  ...
36   1956-01-27 2010-01-12  19368   462           10.309034  ...
37   1967-10-07 2012-06-05  16314   800            9.003978  ...
38   1972-01-02 2009-06-11  13474   552           33.361305  ...
39   1962-11-01 2019-12-31  20880  1041            8.920559  ...
40   1965-04-30 2007-12-31  13586   589           27.110488  ...
41   1976-01-01 2014-12-31  14245   156            8.442682  ...
42   1960-01-01 2012-05-31  19145   835           38.143577  ...
43   1972-01-06 2006-07-06  12521   502           39.741537  ...
44   1950-01-01 2019-05-31  25353   438           28.922251  ...

             Resampled                                                     \
   discharge [$m^3$/s]                        precipitation [mm]
                  mean         SD   mean peak                mas    mada1
0            16.790546  12.150519   31.547346         815.103956  146.575
1            12.842117   6.316072   20.093982        1158.165855  203.701
2            29.655637  29.520580   65.769197        1056.515569  161.288
3            20.797195  17.925395   37.718110         782.782917  145.629
4            31.876775  17.973210   51.045052         770.354111  146.235
5            33.085463  31.933954   70.391237         900.502586  139.199
6            40.530915  28.214815   72.284837         907.452036  172.573
7            13.269688   7.021176   21.542730         909.413931  134.527
8            20.374708  17.203401   40.772426         808.976405  144.203
9            19.842473  15.453240   41.705961         742.003064  129.269
10           42.100158  30.659135   80.559310        1145.482662  150.281
11           52.546953  30.218674  101.313359        1160.861577  183.055
12           62.559866  42.151739  117.127621        1207.375139  190.243
13           15.893477  21.790120   32.768773         931.009036  168.948
14           33.962064  26.830524   64.268692         784.030258  147.753
15            7.300681   4.104387   11.475225         549.136824  123.369
16           24.945814  15.812303   41.573752         770.479000  145.729
17           14.873287   8.230873   24.950139         943.874428  176.670
18            7.984866   6.652813   14.487240         714.585800  133.239
19           44.977114  45.397473  118.626002        1361.902303  153.357
20           25.569811  14.729466   41.629036        1072.661613  193.967
21           14.720079   7.775989   22.616781         609.831820  124.361
22           44.494835  23.863275   74.325730         970.672890  147.923
23            9.584530   5.086845   14.932609         744.638146  141.723
24           22.400257  14.981653   47.769727         714.006624  132.211
25           35.576950  18.250504   52.113554        1634.115660  204.161
26           21.970332  28.668168   41.880166        1035.346432  156.937
27           18.550398  13.014920   34.935333         805.837290  148.807
28           33.750267  22.561464   61.122106        1131.633665  182.705
29           20.916240  20.692991   51.032106         977.702437  159.275
30           54.357858  54.537912  123.857481        1060.347582  162.313
31           33.155551  15.701503   51.147241        1026.855610  188.249
32           29.228800  16.200616   48.719477         871.186550  155.738
33           19.326892  12.114254   34.097962         931.758908  138.453
34           27.522249  18.914664   44.010509         599.140745  140.694
35           13.361621   8.102908   24.006400         712.002305  140.872
36           12.307548   6.079045   20.004668        1283.500280  201.145
37            7.758121  11.457722   20.845426         794.735060  128.808
38           38.664191  22.477480   73.515834         876.398251  168.179
39           10.834924  10.416094   24.189631         885.400627  149.287
40           30.295472  19.400819   53.613439         952.041368  173.643
41            9.199445   7.483553   16.711979         632.838007  145.931
42           40.911212  33.667478   88.916725        1547.013403  159.488
43           41.414728  31.871147   80.077774         958.780808  172.347
44           21.759283  32.260255   51.176593         739.024383  154.790


   temperature [°C]              snow [mm] soil moisture [\%]
               mean         SD       mada0               mean        SD
0          7.364755   7.550887  138.645000           0.966678  0.031821
1          9.129297   4.487396   28.694000           0.984860  0.020755
2          8.389689   7.008723  102.426000           0.961768  0.041864
3          9.680314   6.696356   53.307000           0.935525  0.064554
4          9.387115   6.782862   58.972000           0.890774  0.100907
5         10.341416   6.982258   54.012000           0.960693  0.034378
6          9.228617   4.634831   24.291000           0.964374  0.032065
7          6.231444   7.731798  116.307000           0.978783  0.026482
8          8.210086   7.195849  106.048000           0.951040  0.038889
9         10.981913   6.578117   14.358871           0.913816  0.058190
10        10.249843   7.217846   92.071000           0.953295  0.047114
11         9.546970   4.461536   19.611612           0.973671  0.031619
12         9.862285   4.266854   10.655992           0.977671  0.023600
13        -0.489470   8.672236  269.593000           0.995579  0.012733
14         9.721962   6.853071   75.284000           0.925308  0.068800
15         8.758799   6.522253   63.399000           0.972938  0.034151
16         9.377097   6.808250   58.308000           0.860519  0.133595
17         9.120309   4.617540   10.770355           0.988728  0.015859
18         9.213761   7.324992   96.302000           0.844726  0.065688
19         9.029497   7.084081   93.417000           0.984185  0.018137
20         9.329830   4.513865   20.951904           0.986588  0.018129
21         6.330144   7.652953  127.331000           0.977838  0.031412
22         6.462325   7.441741  125.219000           0.982233  0.028233
23        10.413385   6.714129   26.072144           0.874452  0.072174
24         8.172046   7.713450  101.025000           0.906836  0.066458
25         7.868515   4.815408  115.837000           0.996959  0.007604
26        -0.273932   6.980469  365.000000           0.982425  0.018812
27         9.641727   6.890529   65.866000           0.900674  0.082777
28         9.555419   4.496143   21.098196           0.954372  0.044289
29         7.491479   7.055071  123.679000           0.973780  0.033959
30         8.779013   6.920666  104.438000           0.960754  0.039492
31         9.038286   4.625827   30.521000           0.990031  0.015349
32         9.061650   6.928192   78.444000           0.952705  0.037664
33        13.162689   6.166412    5.904709           0.888113  0.103725
34         1.347833  10.953395  216.450000           0.989412  0.019369
35         9.395967   6.904794   60.759000           0.897082  0.098499
36         9.925610   4.401409    9.167899           0.988507  0.018921
37        11.536890   6.202286    7.662863           0.964300  0.036581
38         9.409403   4.633058   36.330000           0.978546  0.028601
39         8.145855   7.114840  101.727000           0.960699  0.039848
40         9.298215   4.636008   31.294000           0.971120  0.031213
41         1.843193  10.662730  202.952000           0.991499  0.018597
42         8.428532   7.180509  121.721000           0.951278  0.051195
43         9.418675   4.609033   24.257000           0.961055  0.038229
44        -1.416223   9.472182  296.114000           0.995320  0.014158

[45 rows x 43 columns]

In [33]:

def export_dataframe(df, filename_prefix):
    """
    Exports a multi-index DataFrame to CSV, HTML, and LaTeX formats.
    """
    # round to 1 digit to improve readibility
    df = df.round(2)
    # Export to CSV
    csv_filename = f"{filename_prefix}.csv"
    df.to_csv(csv_filename, index=False)
    print(f"Exported to CSV: {csv_filename}")

    # Export to HTML
    html_filename = f"{filename_prefix}.html"
    df.to_html(html_filename, index=False)
    print(f"Exported to HTML: {html_filename}")

    # Export to LaTeX
    latex_filename = f"{filename_prefix}.tex"
    df.to_latex(latex_filename, index=False, escape=False)
    print(f"Exported to LaTeX: {latex_filename}")


export_dataframe(combined_results, os.path.join(data_base_path,'summary_statistics'))

Exported to CSV: /data/compoundx/causal_flood/stability_testing/data/summary_statistics.csv
Exported to HTML: /data/compoundx/causal_flood/stability_testing/data/summary_statistics.html
Exported to LaTeX: /data/compoundx/causal_flood/stability_testing/data/summary_statistics.tex

/tmp/ipykernel_433765/3270407684.py:19: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.to_latex(latex_filename, index=False, escape=False)